/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(3, 3, 24);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.Flex{
    display: flex;
}

button:hover{
    box-shadow: 0px 0px 8px #ab08cc;
    transform: scale(1.05);
}

/* NAVBAR */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
}

.navbar{
    max-width: 350px;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    list-style: none;
    margin-right: 35px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: #ab08cc;
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    transition: .2s;
}

.navbar ul li a:hover{
    color: #ab08cc;
    transform: scale(1.05);
}

/* ESTILO INÍCIO */

section#Início{
    padding: 40px 4%;
}

section#Início .Flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section#Início .Apresentação{
    margin-top: -10px;
}

section#Início h1{
    color: #ab08cc;
    font-size: 35px;
    line-height: 45px;
    margin: 60px 0;
}

.Foto img{
    border-radius: 10%;
    margin: 40px 0;
    margin-bottom: 0;
    margin-top: 100px;
}

.stacks-Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stacks-Content h3{
    margin-top: 50px;
    color: #ab08cc;
    font-size: 1.40rem;
    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.stacks ul li img {
    width: 50px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 65px;
    left: 25px;
    width: 20px;
    height: 20px;
    color: #ab08cc;
}

/* ESTILO SOBRE */

section#Sobre {
    padding: 40px 4%;
    text-align: center;
}

section#Sobre .Flex {
    align-items: center;
}

section#Sobre .Txt-Sobre {
    color: #ab08cc;
    text-align: justify;
    font-size: 22px;
    width: 65%;
}

section#Sobre .Txt-Sobre h2 {
    font-size: 45px;
    line-height: 10px;
    margin-bottom: 60px;
}

section#Sobre .Foto-Sobre {
    width: 40%;
    margin-right: 80px;
    margin-top: 70px;
}

section#Sobre .Foto-Sobre img {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

/* ESTILO CONTATO */

section#Contato .Flex{
    justify-content: center;
    margin-bottom: 50px;
}

.Redes-Sociais {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.Redes-Sociais button:hover{
    box-shadow: 0px 0px 8px #ab08cc;
    transform: scale(1.05);
}

.Redes-Sociais button{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ab08cc;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section#Contato h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #ab08cc;
    margin-top: 80px;
}

/* ESTILO FOOTER */

#footer{
    height: 13vh;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: auto; 
    box-shadow: 0 -15px 10px -10px #ab08cc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    color: #ab08cc;
    margin-top: 3px;
}

